<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goodlucky.finance">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finance"
        tools:targetApi="31">
        <activity
            android:name="com.goodlucky.finance.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.incomeUtilities.ListIncomeActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.incomeUtilities.IncomeEditActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.costUtilities.ListCostActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.ReadCvsActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.costUtilities.CostEditActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.ColorPickerActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.categoryUtilities.CategoryEditActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.accountUtilities.AccountEditActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.goodlucky.finance.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>